<div class="col-10 offset-1 about">
    <h1> About Alternative Facts</h1>
    
    <p> Alternative Facts was built by <a target="_blank" href="http://ulamv.getforge.io/"> Ursula MV</a>, a fledgling software developer with a bone to pick. 
    </p>
    
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Alternative Facts.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ursula Moreno-VanderLaan</h2>
      <br />
      <p>
        Ursula is a software developer with a morbid sense of humor and an ill-advised interest in Presidents who use comic sans for official documents.
      </p>
    </div>
  </div>
  
  
  <br class="clear" />
<br />
<br />
<br />
<br />
    
</div>